<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head>
    <title>Estimate</title>
    <link rel="stylesheet", th:href="@{styles.css}"/>
</head>

<body>

<h1 style="text-align: center">SJ Carpentry</h1>
<img style = "width: 130px; height: 110px; margin-left: 880px; margin-right: auto"  th:src="@{/images/carpentry.jpg}" alt="A saw cutting through wood" src="images/carpentry.jpg"/>

<h2 style="text-align: center">Get a Free Estimate Today!</h2>
<h2 style="text-align: center">Choose from our Selection of Jobs!</h2>

<form method="post" th:object=${estimateform}">
<span class="validationError"
    th:if="${#fields.hasErrors('JobTypes')}"
    th:errors="*{JobTypes}"> Job Selection Error</span>

<div class = "grid">
    <div class="JobTypes-group" id = "Bathroom">
        <h3>Bathroom Jobs:</h3>
        <div th:each="JobTypes :${Bathroom}">
            <input name = "JobTypes" type = "checkbox" th:value="${JobTypes.id}"/>
            <span th:text="${JobTypes.name}">Bathroom Tiling</span><br/>
            <input name = "JobTypes" type = "checkbox" th:value="${JobTypes.id}"/>
            <span th:text="${JobTypes.name}">Shower Tiling</span><br/>
    </div>
    </div>

    <div class="JobTypes-group" id = "Kitchen">
        <h3>Kitchen Jobs:</h3>
        <div th:each="JobTypes :${Kitchen}">
            <input name = "JobTypes" type = "checkbox" th:value="${JobTypes.id}"/>
            <span th:text="${JobTypes.name}">Kitchen Floor Tiling</span><br/>
            <input name = "JobTypes" type = "checkbox" th:value="${JobTypes.id}"/>
            <span th:text="${JobTypes.name}">Kitchen Appliance Installation</span><br/>
        </div>
    </div>

    <div class="JobTypes-group" id = "Roof">
        <h3>Roof Jobs:</h3>
        <div th:each="JobTypes :${Roof}">
            <input name = "JobTypes" type = "checkbox" th:value="${JobTypes.id}"/>
            <span th:text="${JobTypes.name}">Brand New Roof</span><br/>
            <input name = "JobTypes" type = "checkbox" th:value="${JobTypes.id}"/>
            <span th:text="${JobTypes.name}">Roof Cleanup</span><br/>
        </div>
    </div>


    <div class="JobTypes-group" id = "Plumbing">
        <h3>Plumbing Jobs:</h3>
        <div th:each="JobTypes :${Plumbing}">
            <input name = "JobTypes" type = "checkbox" th:value="${JobTypes.id}"/>
            <span th:text="${JobTypes.name}">Kitchen Plumbing</span><br/>
            <input name = "JobTypes" type = "checkbox" th:value="${JobTypes.id}"/>
            <span th:text="${JobTypes.name}">Bathroom Plumbing</span><br/>
        </div>
    </div>

</div>

    <div>
        <h3>What is your Name?</h3>
        <input type="text" th:field="*{name}"/>
        <span class = "validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"> Name Error</span>
        <br/><br/>
        <button>Submit Form</button>
    </div>

</form>


</body>

<footer style = "position: absolute; bottom: 0; left: 0; right: 0; text-align: center">

    <p>Copyright @2020<br/>
        Piotr Safiejko<br/>
        CS-321-1
    </p>

</footer>

</html>