<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head>
    <title>Estimate</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
<div class="formHead">
    <h1>SJ Carpentry</h1>
</div>
<div class="formImage">
    <img th:src="@{images/carpentry.jpg}" alt="A saw cutting through wood"/>
</div>

<div class="formMessage">
    <h2>Get a Free Estimate Today!</h2>
    <h2>Choose from our Selection of Jobs!</h2>
</div>

<form method="post" th:object="${estimate}">
<span class="validationError"
      th:if="${#fields.hasErrors('jobs')}"
      th:errors="*{jobs}"> Job Selection Error</span>

    <div class="grid">
        <div class="JobTypes" id="bathroom">
            <h3>Bathroom Jobs:</h3>
            <div th:each="jobTypes :${bathroom}">
                <input name="jobs" type="checkbox" th:value="${jobTypes.id}"/>
                <span th:text="${jobTypes.name}">BATHROOM</span><br/>
            </div>
        </div>

        <div class="JobTypes" id="kitchen">
            <h3>Kitchen Jobs:</h3>
            <div th:each="jobTypes :${kitchen}">
                <input name="jobs" type="checkbox" th:value="${jobTypes.id}"/>
                <span th:text="${jobTypes.name}">KITCHEN</span><br/>

            </div>
        </div>

        <div class="JobTypes" id="roof">
            <h3>Roof Jobs:</h3>
            <div th:each="jobTypes :${roof}">
                <input name="jobs" type="checkbox" th:value="${jobTypes.id}"/>
                <span th:text="${jobTypes.name}">ROOF</span><br/>
            </div>
        </div>


        <div class="JobTypes" id="plumbing">
            <h3>Plumbing Jobs:</h3>
            <div th:each="jobTypes :${plumbing}">
                <input name="jobTypes" type="checkbox" th:value="${JobTypes.id}"/>
                <span th:text="${jobTypes.name}">PLUMBING</span><br/>
            </div>
        </div>

    </div>

    <div>
        <h3>Provide your name:</h3>
        <input type="text" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"> Name Error</span>
        <br/><br/>
        <h3>Phone Number:</h3>
        <input type="text" th:field="*{phone}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('phone')}"
              th:errors="*{phone}"> Phone Error</span>
        <br/>
        <h3>Description:</h3>
        <input type="text" th:field="*{description}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}"> Description Error</span>

        <button>Submit Form</button>
    </div>

</form>


</body>

<footer class="formFoot">

    <p>Copyright @2020<br/>
        Piotr Safiejko<br/>
        CS-321-1
    </p>

</footer>

</html>