<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Results</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

<h1>Results:</h1>
<div class="resultImage">
    <img th:src="@{images/carpentry.jpg}" alt="A saw cutting through wood"/>
</div>

    <div class="estimate" th:each="estimate: ${}"



</body>

<footer class="dataFoot">

    <p>Copyright @2020<br/>
        Piotr Safiejko<br/>
        CS-321-1
    </p>

</footer>
</html>