<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head>
    <title>Estimate</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">SJ Carpentry</span>
    <button class="nav-bar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : ''}"
                th:if="${#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/registration' ? 'active' : ''}"
                th:if="${#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/registration}">Register</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/estimate_form' ? 'active' : ''}"
                th:if="${!#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/estimate_form}">Estimate Form</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <h1 class="col=12 text-center">Choose from our Jobs</h1>
    </div>
    <div class="row justify-content-center mt-2 mb-2">
        <img th:src="@{/images/carpentry.jpg}"/>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/bootstrap.min.js}"></script>

<div class="formHead">
    <h1>SJ Carpentry</h1>
</div>
<div class="formImage">
    <img th:src="@{/images/carpentry.jpg}" alt="A saw cutting through wood"/>
</div>

<div class="formMessage">
    <h2>Get a Free Estimate Today!</h2>
    <h2>Choose from our Selection of Jobs!</h2>
</div>

<form method="post" th:object="${estimate}">
<span class="validationError"
      th:if="${#fields.hasErrors('jobs')}"
      th:errors="*{jobs}"> Job Selection Error</span>

    <div class="grid">
        <div class="JobTypes" id="bathroom">
            <h3>Bathroom Jobs:</h3>
            <div th:each="jobTypes :${bathroom}">
                <input name="jobs" type="checkbox" th:value="${jobTypes.id}"/>
                <span th:text="${jobTypes.name}">BATHROOM</span><br/>
            </div>
        </div>

        <div class="JobTypes" id="kitchen">
            <h3>Kitchen Jobs:</h3>
            <div th:each="jobTypes :${kitchen}">
                <input name="jobs" type="checkbox" th:value="${jobTypes.id}"/>
                <span th:text="${jobTypes.name}">KITCHEN</span><br/>

            </div>
        </div>

        <div class="JobTypes" id="roof">
            <h3>Roof Jobs:</h3>
            <div th:each="jobTypes :${roof}">
                <input name="jobs" type="checkbox" th:value="${jobTypes.id}"/>
                <span th:text="${jobTypes.name}">ROOF</span><br/>
            </div>
        </div>


        <div class="JobTypes" id="plumbing">
            <h3>Plumbing Jobs:</h3>
            <div th:each="jobTypes :${plumbing}">
                <input name="jobTypes" type="checkbox" th:value="${jobTypes.id}"/>
                <span th:text="${jobTypes.name}">PLUMBING</span><br/>
            </div>
        </div>

    </div>

    <div class="extra">
        <h3>Provide your name:</h3>
        <input type="text" th:name="name" th:value="${fullName}" id="name"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"> Name Error</span>
        <br/><br/>
        <h3>Phone Number:</h3>
        <input type="text" th:name="phone" th:value="${phoneNumber}" id="phone"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('phone')}"
              th:errors="*{phone}"> Phone Error</span>
        <br/>
        <h3>Description:</h3>
        <input type="text" size="75" th:field="*{description}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}"> Description Error</span> <br/><br/>

        <h3>Description:</h3>
        <input type="text" size="75" th:field="*{description}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}"> Description Error</span> <br/><br/>
        
        <button>Submit Form</button>
    </div>

</form>


</body>

<footer class="foot">

    <p>Copyright @2020<br/>
        Piotr Safiejko<br/>
        CS-321-1
    </p>

</footer>

</html>