<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="es">

<head th:insert="fragments/base :: headContent"></head>


<body>

<div th:replace="fragments/base :: navigation"></div>


<div class="row justify-content-center">
    <h1 th:text="${'Hi, ' + fullName}">Hi,</h1>
</div>

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <h1 class="col-12 text-center">Estimate History</h1>
    </div>
    <div th:replace="fragments/base :: appImage"></div>
</div>

   <div class="estimate" th:each="estimate: ${jobs}">
        <p name = "estimate" type = "hidden" th:value="${estimate.name}"><b>Estimate: </b>
            <span th:text="${estimate.name}"> Estimate Name </span> </p>
        <p class = "date"> <b>Date: </b> <span th:text="${estimate.createdAt.getDayOfMonth()} + ''
            + ${estimate.createdAt.getMonth()} + ''
            + ${estimate.createdAt.getYear()}"> Estimate Date </span>
        </p>


       <div class="row justify-content-center">
           <div class="col-5 mb-2">
               <a th:href="@{/modify/{estimateId}(estimateId=${estimate.id})}"
                  class="btn btn-sm btn-dark">Update Items</a>
           </div>
       </div>

       <div th:each="jobTypes : ${estimate.jobs}">
           <p name ="jobTypes" type="text" th:value="${jobTypes.id}"></p>
                <span th:text="${jobTypes.name}">Estimate</span>
       </div>



   </div>

    <div th:replace="fragments/base :: footer"></div>

</body>

<th:block th:insert="fragments/base :: scripts"></th:block>

</html>